# Pattern-based ignores
\#*\#
*~
*.db
.nfs*
*.org
*.Rout
*.tar.gz
*.swp
.Rcache*
config.toml*

# Untracked helper files
bak
.markdown-preview.html
.Rhistory
Rplots.pdf
rtags
rtags.R
TAGS
.obsmon_git_info

# Stuff generated at run time or during installation
R-libs/
R-libs
pre_compiled/
batch_mode_plots/

# Stuff we do NOT want to ignore
!config.toml.example
