# Pattern-based ignores
\#*\#
*~
*.db
.nfs*
*.org
*.Rout
*.tar.gz
*.swp
.Rcache*
config.toml*

# Untracked helper files
bak
.markdown-preview.html
.Rhistory
Rplots.pdf
rtags
rtags.R
TAGS
.obsmon_git_info
tmp/

# Stuff generated at run time or during installation
.installer_local_R-libs/
batch_mode_plots/
Rprof.out
failed_install*.log

# Stuff we do NOT want to ignore
!config.toml.example
