[general]
logLevel = "INFO"
cacheDir = ".Rcache"

# Configuring experiments
# The displayName is free to choose
# Obsmon expects to find directories named "ecma", "ccma", "ecma_sfc"
# on the passed path, which should contain your experiment's data files
[[experiments]]
displayName = "First Experiment"
path = "/full/path/to/experiment1"

[[experiments]]
displayName = "Second Experiment"
path = "/full/path/to/experiment2"

# Configuring quickPlots
[[quickPlots]]
  displayName = "1st Expt: ecma NObs" # Free to choose
  experiment = "First Experiment" # Must match the dysplayName of a configured experiment
  plotType = "Number of Observations" # Must match a valid plot type
  database = "ecma" # Much be one of: ccma, ecma, ecma_sfc
  startDate = -30 # From 30 days ago to today. Also accepts dates (e.g. "2018-05-12")
  # An endDate ("YYYY-MM-DD") can also be passed, but is omitted here
  excludeObs = ["satem"] # Do not include these obs. All not listed will be included
  [quickPlots.levels]
    # You can configure levels if you so wish
    # You can do this for each variable individually:
    aircraft = {t=[1500, 100000], u=[27500, 45000]}
    # Or you can do this globally for any given obname:
    synop = 10

[[quickPlots]]
  displayName = "2nd Expt: CANARI synop NObs"
  experiment = "Second Experiment"
  plotType = "Number of Observations"
  database = "ecma_sfc"
  startDate = -30
  [quickPlots.obs]
    # Example of how to select specific obs and variables
    synop=["t2m","rh2m", "snow"]
    aircraft=["t"]

[[quickPlots]]
  displayName = "TEST Station choices"
  experiment = "Second Experiment"
  plotType = "Observation Usage"
  database = "ecma"
  date = "2018-11-19"
  cycle = 0
  [quickPlots.stations]
    # Example of how to (optionally) select specific station IDs
    synop = ["01158", "01226"]
    aircraft = ["2BTQVXZA"]

