exp0:
  displayName: First experiment
  production: FALSE
  baseDir: /home/a002160/Projects/Obsmon
  experiment: mbr000
  ecmaDir: ecma
  ecmaSfcDir: ecma_sfc
  ccmaDir: ccma

exp1:
  displayName: MEPS_prod
  production: FALSE
  baseDir: /data/24_nb/metcoop/opdata/elin4/meps/obsmon
  experiment: mbr000
  ecmaDir: ecma
  ecmaSfcDir: ecma_sfc
  ccmaDir: ccma
